{% extends 'base.html' %}

{% block content %}
<h1>Add Job Application</h1>

<form method="POST" action="{% url 'create_application' %}" enctype='multipart/form-data'>
    {% csrf_token %}
    
    <div>
        {% comment %} <h3>Company Information</h3> {% endcomment %}
        {{ company_form.as_p }}
    </div>
    
    <div>
        {% comment %} <h3>Job Position</h3> {% endcomment %}
        {{ jobPosition_form.as_p }}
    </div>
    
    <div>
        {% comment %} <h3>Application Details</h3> {% endcomment %}
        {{ application_form.as_p }}
    </div>
    
    <button type="submit">Submit Application</button>
</form>
{% endblock %}
