{% extends "base.html" %}

{% block content %}
<h1>Application Details</h1>
<ul>
  <li>Company Name: {{ application.job_position.company.name }}</li>
  <li>Company Website: <a href="{{ application.job_position.company.website }}">{{ application.job_position.company.name }}</a></li>
  <li>Job Title: {{ application.job_position.job_position }}</li>
  <li>Company Location: {{ application.job_position.location }}</li>
  <li>Salary: {{ application.job_position.salary }}</li>
  <li>Date Applied: {{ application.date_applied }}</li>
  <li>Status: {{ application.status }}</li>
  <li>Notes: {{ application.notes}}</li>
  <li>Resume: {{application.resume}} </li>
    <a href="{% url 'edit_application' application.pk%}">Edit</a>
  <form action="{% url 'delete_application' application.pk%}" method='post'>
    {% csrf_token %}
    <button type="submit">Delete</button>
  </form>
</ul>
{% endblock %}
