{% extends 'base.html' %}

{% block content %}
<h1>Applications</h1>
<a href="{% url 'create_application' %}">Add Application</a>
{% if application %}
      {% for app in application %}
        <ul>
          <li>Company name: {{ app.job_position.company.name}}</li>
          <li>Job Position: {{ app.job_position.title}}</li>
          <li>Date Applied: {{ app.date_applied}}</li>
          <a href="{% url 'application_details' app.pk%}">Show details</a>
        </ul>
      {% endfor %}
{% else %}
  <p>No applications yet.</p>
{% endif %}

{% endblock %}
