{% extends 'base.html' %}

{% block content %}
<div style="margin: 30px; font-family: Arial, sans-serif;">
  <h1 style="margin-bottom: 20px; font-size: 36px; color: black;">Applications</h1>

  <a href="{% url 'create_application' %}" 
     style="color: black; border: 1.5px solid black; padding: .5rem 1rem; border-radius: 6px; cursor: pointer; background-color: antiquewhite; font-weight: 600; text-decoration: none; transition: all 0.3s ease;"
     onmouseover="; this.style.color='black'; this.style.backgroundColor='white';"
     onmouseout="this.style.backgroundColor='antiquewhite'; this.style.color='black';">
     ➕ Add Application
  </a>

  <div style="margin-top: 30px; gap: 20px; display: flex; flex-direction: row;">
    {% if applications %}
      {% for app in applications %}
        <ul style="list-style-type: none; padding: 20px; border: 1px solid #ddd; border-radius: 10px; margin: 0; margin-bottom: 20px; width: 300px; background-color: white; box-shadow: 0 2px 5px rgba(0,0,0,0.1); transition: all 0.5s ease;"
            onmouseover="this.style.boxShadow='0 6px 12px rgba(0,0,0,0.2)'; this.style.transform='translateY(-5px)';"
            onmouseout="this.style.boxShadow='0 2px 5px rgba(0,0,0,0.1)'; this.style.transform='translateY(0)';">

          <li style="margin-bottom: 8px;color: #333; font-weight: bold;">🏢 Company: <span style="font-weight: lighter">{{ app.job_position.company.name }}</span></li>
          <li style="margin-bottom: 8px; color: #333;  font-weight: bold;">💼 Title: <span style="font-weight: lighter">{{ app.job_position.job_position }}</span></li>
          <li style="margin-bottom: 12px; color: #333;  font-weight: bold;">📅 Date Applied: <span style="font-weight: lighter">{{ app.date_applied }}</span></li>
          
          <div>
            <a href="{% url 'application_details' app.pk %}" 
               style="color: #007bff; text-decoration: none; font-weight: 600; transition: color 0.3s;"
               onmouseover="this.style.color='#0056b3';"
               onmouseout="this.style.color='#007bff'; this.style.textDecoration='none';">
              Show details
            </a>
          </div>
        </ul>
      {% endfor %}
    {% else %}
      <p style="font-size: 16px; color: #777;">No applications yet.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
